

html{
width: 100%;
height: 100%;
scroll-behavior: smooth;
}


body {
font-size: medium;
font-family: 'Times New Roman', Times, serif;
text-align: center;
color: black;
font-size: larger;
background-color: white;


}
.mainText{
    text-transform: uppercase;
    text-justify: auto;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 25vw;
    font-family: 'Montserrat', sans-serif;
    overflow:hidden;
    padding-top: 0;
    background-size: 100% auto;
    animation-name: textRecolor;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    margin-top: 0;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
}
@keyframes textRecolor {
    from {background-size: 300% ;scale: 90%; }
    to {background-size: 100%; background-position-x: 1750px;}
}


footer{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    width: 100%;
    position:absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    align-items:end;

}

hr{
padding-top: 0;
margin-top: 0;

}


ul{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    list-style-type:armenian;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
}
li{
    text-decoration: none;

}
a {
    color: white;
    text-decoration: none;
}

.mainButton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
        opacity: 100%;
        background: rgb(131,58,180);
        background: linear-gradient(4deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
        background-size: 100%;
        color: rgb(255, 255, 255);
        opacity: 100%;
        stroke: none;
        margin-bottom: 5vh;
        padding-top: 0px;
        border: 0px;
        overflow: hidden;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-transform: uppercase;
        animation-name: btnReveal;
        animation-delay: 2s;
        animation: normal;

}
@keyframes btnReveal{
    from {opacity: 0%;}
    to {opacity: 100%;}

}
.mainButton:hover{
    color:white;
    background-size: 50% ;
    background-size: 500%;
    text-shadow: 2ch;
    transform: translateY(-5px);
    transition: ease-in-out;
    transition-duration: .3s;
    
}
h2{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.divRegBox {
    background-color: grey;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top:20vh;
    padding-bottom: 25vh;
    margin-left: 30%;
    margin-right: 30%;
    height: 100%;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    justify-content: center;
}
.loginButton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
        opacity: 100%;
        background: rgb(131,58,180);
        background: linear-gradient(4deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
        background-size: 100%;
        color: white;
        opacity: 100%;
        stroke: none;
        margin-bottom: 0vh;
        padding-top: 3vh;
        border: 0px;
        overflow: hidden;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-transform: uppercase;
        animation-name: btnReveal;
        animation-delay: 2s;
        animation: normal;
        justify-content: right;
        align-items: right;
        translate: 40vw;
}

